**/__pycache__/
**/*.pyc
**/*.pyo
/penguin_dataset.zip
/gdrive-key.json
/.venv
/data
penguin_classifier.egg-info
logs/
testing.py
!models/.gitkeep
!data/raw/.gitkeep
/.pytest_cache
.env
test_local.py
docker-compose.override.yml